@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

:root {
  --transparent: #00000000;

  --light01: #ecd4d4;
  --light02: #d1b5b5;
  --light03: #af9b9b;
  --light04: #8b7e7e;
  --light05: #695f5f;

  --dark00: #181515;
  --dark01: #201d1d;
  --dark01-transparent: #201d1d56;
  --dark02: #2c2626;
  --dark03: #383131;
  --dark04: #443c3c;
  --dark05: #615151;

  --highlight01: rgb(255, 57, 57);
  --highlight02: rgb(255, 16, 16);

  --line-thickness: 0.06rem;
  --big-icon-size: 1.8rem;
  --small-icon-size: 1.45rem;
  --box-contracted-length: 3.4rem;
  --box-expanded-length: 15.5rem;
  --tab-height: 2.1rem;
  --tab-height-extended: 3rem;
  --writing-padding: 2rem;

  --delay-nav-out: 0.5s;
  --cubic01: cubic-bezier(0.52, 0.02, 0.21, 0.98);

  --global-big-text-size: 0.92rem;
  --global-text-size: 0.85rem;
  --global-border-radius: 0.5rem;
}

html,
body {
  padding: 0;
  margin: 0;
  /*
        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
          Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
          */

  width: 100vw;
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

*,
button,
input,
select,
textarea {
  font-family: 'Noto Sans KR', sans-serif !important;
  font-size: var(--global-text-size);
  font-weight: 500;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.line-divider {
  width: 100%;
  border-color: #1e1e1e;
  border-width: 0.1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.2rem;
}

hr.hr-divider {
  width: 100%;
  border-top: 2px solid var(--dark01);
  border-bottom: 2px solid var(--dark03);
  border-width: 0.1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  background-color: var(--light04);
}

.simplebar-track {
  opacity: 0.5;
}

.sub-nav__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #dadada;

  margin: 0.5rem 0;
}

/* icon */
path {
  width: 100%;
  height: 100%;
}
